COPYING
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
depcomp
install-sh
missing
Makefile
config.h
config.log
config.status
sdltest
src/.deps/
src/.dirstamp
stamp-h1
*~
\#*\#
*.o
.deps
*.txt
sound/
sdltest

